@import "../components/shared.module.css";

.body {
    margin: 0px;
    padding: 0px;
}

.preloader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: var(--dark-color);
    z-index: 99999;
}

.hd {
    background-color: var(--dark-color);
    grid-area: hd;
    height: 100vh;
}

.ct {
    background-color: var(--light-color);
    grid-area: ct;
    display: grid;
    /* grid-template-rows: minmax(100vh, auto); */
    grid-auto-rows: minmax(100vh, auto);
}

.ft {
    background-color: var(--accent-color);
    grid-area: ft;
    height: 100vh;
    position: relative;
}

.navigationContainer {
    position: absolute;
    top: 10pt;
    left: 50%;
    transform: translate(-50%, 0%);
}

.name {
    font-size: 10vw;
    font-family: 'Megrim';
    color: var(--light-color);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 6rem;
    margin: 0;
}

.lastNameCommon {
    position: relative;
    top: 45%;
    opacity: 0;
    margin-top: 5vw;
    /* transform: none; */
}

.lastName {
    font-family: 'Megrim';
}

.engineer {
    font-family: 'Wire One';
}

.traveler {
    font-family: 'Stalemate';
}

.writer {
    font-family: 'Dawning of a New Day';
}

.rider {
    font-family: 'Faster One';
}

.speaker {
    font-family: 'Londrina Outline';
}

.nameAppear {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    opacity: 1.0 !important;
}

.nameDisappear {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    opacity: 0.0 !important;
}

.header {
    background-color: var(--accent-color);
    position: relative;
}

.header2 {
    background-color: var(--light-color);
    position: relative;
}

.header3 {
    background-color: var(--dark-color);
    position: relative;
}

.headerContainer {
    top: 0px;
    bottom: 0px;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 100;
}

.photoImage {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 150px;
    height: 150px;
    transform: translate(+0%, -50%);
}

.headerTitle {
    font-family: 'Sacramento';
    font-size: 6rem;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.lightColor {
    color: var(--light-color);
}

.darkColor {
    color: var(--dark-color);
}

.aboutContent {
    margin: 8vw;
}

.dark {
    background: var(--dark-color);
    color: var(--light-color);
}

.socials {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-row-gap: 10vh;
    align-content: space-around;
    justify-content: space-around;
    
}

.twitter {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    padding-top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light-color);
    -webkit-mask: url(https://unpkg.com/simple-icons@latest/icons/twitter.svg) no-repeat center;
    mask-image: url(https://unpkg.com/simple-icons@latest/icons/twitter.svg) no-repeat center;
}

.medium {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    padding-top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light-color);
    -webkit-mask: url(https://unpkg.com/simple-icons@latest/icons/medium.svg) no-repeat center;
    mask-image: url(https://unpkg.com/simple-icons@latest/icons/medium.svg) no-repeat center;
}

.github {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    padding-top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light-color);
    -webkit-mask: url(https://unpkg.com/simple-icons@latest/icons/github.svg) no-repeat center;
    mask-image: url(https://unpkg.com/simple-icons@latest/icons/github.svg) no-repeat center;
}

.facebook {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    padding-top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light-color);
    -webkit-mask: url(https://unpkg.com/simple-icons@latest/icons/facebook.svg) no-repeat center;
    mask-image: url(https://unpkg.com/simple-icons@latest/icons/facebook.svg) no-repeat center;
}

.linkedIn {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    padding-top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light-color);
    -webkit-mask: url(https://unpkg.com/simple-icons@latest/icons/linkedin.svg) no-repeat center;
    mask-image: url(https://unpkg.com/simple-icons@latest/icons/linkedin.svg) no-repeat center;
}

.hexagon {
    margin-left: 2vw;
    margin-right: 2vw;
    width: 100px;
    height: 60px;
    background: var(--dark-color);
    position: relative;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.hexagon:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid var(--dark-color);
}

.hexagon:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid var(--dark-color);
}

.hexagon:hover {
    /* background: #EC008C; */
    transform: scale(1.2);
}

.hexagon:hover:after {
    /* border-top: 25px solid #EC008C; */
}

.hexagon:hover:before {
    /* border-bottom: 25px solid #EC008C; */
}

.hexagonImage {
    position: relative;
    width: 150px; 
    height: 86.60px;
    margin: 43.30px 0;
    background-size: auto 173.2051px;
    background-position: center;
  }
  
  .hexTopImage,
  .hexBottomImage {
    position: absolute;
    z-index: 1;
    width: 106.07px;
    height: 106.07px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 21.97px;
  }
  
  /*counter transform the bg image on the caps*/
  .hexTopImage:after,
  .hexBottomImage:after {
    content: "";
    position: absolute;
    width: 150.0000px;
    height: 86.60254037844388px;
    -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
    -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
    transform:          rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  
  .hexTopImage {
    top: -53.0330px;
  }
  
  .hexTopImage:after {
    background-position: center top;
  }
  
  .hexBottomImage {
    bottom: -53.0330px;
  }
  
  .hexBottomImage:after {
    background-position: center bottom;
  }
  
  .hexagonImage:after {
    content: "";
    position: absolute;
    top: 0.0000px;
    left: 0;
    width: 150.0000px;
    height: 86.6025px;
    z-index: 2;
    background: inherit;
  }

@media screen and (orientation:landscape) {
    .headerContainer {
        width: 50vw;
    }
    .ct {
        grid-template-columns: repeat(2, 1fr);
    }
    .photoImage {
        left: auto;
        right: 0;
        transform: translate(+50%, +50%);
    }
    .socials {
        grid-template-columns: repeat(6, auto);
    }
}