body {
    margin: 0px;
    padding: 0px;
}

.hd {
    background-color: #292929;
    grid-area: hd;
    height: 100vh;
  }

.ct {
    background-color: white;
    grid-area: ct;
    display: grid;
    /* grid-template-rows: minmax(100vh, auto); */
    grid-auto-rows: minmax(100vh, auto); 
}

.ft {
    background-color: #F44A52;
    grid-area: ft;
    height: 100vh;
    
}

.name {
    font-size: 150px;
    font-family: 'Montserrat';
    color: white;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header {
    background-color: #F44A52;
    position: relative;
}

.header2 {
    background-color: white;
    position: relative;
}

.header3 {
    background-color: #292929;
    position: relative;
}

.headerContainer {
    top: 0px;
    bottom: 0px;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 100;
}


.headerImage {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.photoImage {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 8rem;
    transform:  translate(+0%, -50%);
}



.headerTitle {
    font-family: 'Sacramento';
    color: white;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headerTitleDark {
    font-family: 'Sacramento';
    color: #292929;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.content {
    margin: 6rem;
}

.dark {
    background: #292929;
    color: white;
}

@media screen and (orientation:landscape) {
    .headerContainer {
        width: 50vw;
    }
    .ct {
      grid-template-columns: repeat(2, 1fr);
    }
    .photoImage {
        left: auto;
        right: 0;
        transform:  translate(+50%, +50%);
    }
    
}

