@import "shared.module.css";

.content {
    margin: 2rem;
}

.content a:link, a:visited {
    color: var(--accent-color);
}

.workImage {
    display: block;
    margin: 0;
    transition: transform 20s; /* Animation */
}

.workImage:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    cursor: zoom-in;
}

.cropping {
    position: relative;
    overflow: hidden;    
}