@import "./shared.module.css";

.content {
    margin: 2rem;
}

.content a:link, a:visited {
    color: var(--accent-color);
}

.workImage {
    display: block;
    margin: 0;
    transition: transform 20s ease-out; /* Animation */
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.workImage:hover {
    transform: scale(1.2);
    cursor: zoom-in;
}

.cropping {
    position: relative;
    overflow: hidden;    
}